/* add css module styles here (optional) */

.mainImg{
  animation: spin 10s linear  infinite;
  
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

}
.title{
  position: absolute;
  animation: lost 3s forwards  ;
  z-index: 100;
  font-size: 40px;
  left: 20vw;
  color: white;
}
.title2{
  right: 20vw;
  position: absolute;
  animation: lost 3s forwards  ;
  z-index: 100;
  color: white;
  font-size: 40px;
}


@keyframes lost { 0% {  top:-15vh; } 50%{  top:15vh} 100% {top:-15vh}}


.face{
  position: absolute;
  top: 43%;
  right: 45%;
  animation-delay: 100ms;
  width: 80px;
  height: 100px;
  animation: spin 10s linear  infinite;
}

.images{
  height: fit-content;
  position: relative;
  
}


@keyframes spin { 0% { -webkit-transform: rotate(20deg),translateX(-30px);; transform:rotate(20deg); } 50%{ transform:rotate(-20deg);} 100% { -webkit-transform: rotate(20deg); }}
 
@media screen and (max-width: 487px) {
  .mainImg{
    width:80vw
  }
  .face{
    width:15vw;
    height:20vw ;
  }
}
